@font-face {
  font-family: "font1";
  src: url(font/b27921d5a95f787012c8e9dfbb86c2751597997132.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(15, 18, 21);
  scroll-behavior: smooth;
}
#main {
  min-height: 100vh;
  width: 100%;
}
/* ------------------------Page 1 starting-------------------------------- */
#box1 {
  min-height: 80vh;
  width: 100%;
  background-image: url(./images/frontimg.png);
  background-position: center;
  background-size: cover;
}
#box1 > nav {
  width: 100%;
  height: 70px;
  background-color: #9a9a9a00;
  color: #ffffff;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}
nav > h1 {
  margin-left: 8%;
  font-weight: 500;
  cursor: pointer;
}

nav ul {
  display: flex;
  align-items: center;
  margin-right: 6vw;
  font-weight: 500;
  cursor: pointer;
  /* background-color: aqua; */
}

nav li {
  list-style: none;
  padding: 0 16px;
}

nav li a {
  color: white;
  text-decoration: none;
}

.Page1-content {
  width: 100vw;
  height: calc(70vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.Page1-content img {
  scale: 0.28;
  margin-bottom: 4.2vmax;
}
.Page1-content h3 {
  font-size: 2.5vmax;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.1vmin;
  margin-top: -7vmax;
  line-height: 2.8vmax;
}

/* ------------------------Page 1 Ending-------------------------------- */

#box2 {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(155, 155, 155);
}
#box3 {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(73, 33, 33);
}
#box4 {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(174, 107, 107);
}
#box5 {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(255, 223, 223);
}
